<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stevens Helper</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.csrf.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validate.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/js/additional-methods.js"></script>
    <script type="text/javascript" src="/static/js/additional-methods.min.js"></script>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
    $(document).ready(function () {
        function visible(name) {
            var component = document.getElementById(name);
            component.style.display = "block";
        }
        function disable(name) {
//            var component = document.getElementById(name);
//            component.disabled = false;
            $("#"+name).attr("disabled", false);
        }

        $("#edit").click(function (e) {
            visible("save");
            visible("cur_psw");
            visible("new_psw");
            visible("con_psw");

            disable("nickname");

        });


    });

</script>
<!--<script type="text/javascript">-->

<!--jQuery.validator.setDefaults({-->
<!--debug: true,-->
<!--success: "valid"-->
<!--});-->
<!--$("#form").validate({-->
<!--rules: {-->
<!--password: "required",-->
<!--confirm_psw: {-->
<!--equalTo: "#password"-->
<!--}-->
<!--}-->
<!--});-->
<!--</script>-->


<div class="row">
    <div class="col-xs-12 col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active"><a>User info</a></li>
        </ol>
    </div>
    <div class="col-xs-12 col-md-12">
        <div class="panel">
            <button id="edit" class="btn btn-primary">Edit</button>
            <div class="panel-body">
                <form class="form-horizontal" id="form" action="/users/user_info" method="post">{% csrf_token %}
                    {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}

                    {% for field in form %}
                    {% if field.errors %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">{{ field.label }}: {{ error }}</div>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}

                    {% if user %}
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" style="width: 4cm">Email</span>
                            <input contenteditable="false" disabled="true" type="text" name="email" id="email" class="form-control" placeholder="Email"
                                   aria-describedby="Email" value="{{ user.email }}" style="width: 10cm">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" style="width: 4cm">Nickname</span>
                            <input type="text" class="form-control" name="nickname" id="nickname" placeholder="Nickname"
                                   aria-describedby="Nickname" value="{{ user.nickname }}" disabled="true" style="width: 10cm">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" style="width: 4cm">Stevens ID</span>
                            <input contenteditable="false" type="text" class="form-control" name="stevens_id" id="stevens_id"
                                   placeholder="Stevens ID"
                                   aria-describedby="Stevens ID" value="{{ user.stevens_id }}" disabled="true" style="width: 10cm">
                        </div>
                    </div>

                    <div class="form-group" id="cur_psw" style="display: none">
                        <div class="input-group">
                            <span class="input-group-addon" id="lab_cur_password" style="width: 4cm">Current Password</span>
                            <input type="password" class="form-control" name="cur_password" id="cur_password"
                                   placeholder="Current Password" aria-describedby="Password" style="width: 10cm">
                        </div>
                        <!--<label id="incorrect" style="visibility: hidden">错</label>-->
                        <!--<label id="correct" style="visibility: hidden">对</label>-->
                    </div>

                    <div class="form-group" id="new_psw" style="display: none">
                        <div class="input-group">
                            <span class="input-group-addon" id="lab_password" style="width: 4cm">New Password</span>
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="New Password" aria-describedby="Password" style="width: 10cm">
                        </div>
                        <!--<label id="incorrect" style="visibility: hidden">错</label>-->
                        <!--<label id="correct" style="visibility: hidden">对</label>-->
                    </div>

                    <div class="form-group" id="con_psw" style="display: none">
                        <div class="input-group">
                            <span class="input-group-addon" id="lab_confirm_psw" style="width: 4cm">Confirm Password</span>
                            <input type="password" name="confirm_psw" class="form-control" id="confirm_psw"
                                   placeholder="Confirm Password" aria-describedby="Confirm password"
                                   onchange="check_psw()" style="width: 10cm">
                        </div>
                        <!--<label id="con_correct" style="visibility: hidden">对</label>-->
                        <!--<label id="con_incorrect" style="visibility: hidden">错</label>-->
                    </div>
                    {% endif %}

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button id="save" type="submit" style="display: none" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>